<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="form">
    <ion-input
      required
      email
      errorText="Entrez un email valide"
      labelPlacement="floating"
      type="email"
      [(ngModel)]="email"
      label="Email"
      name="email"
      fill="outline"
    ></ion-input>
    <br />
    <ion-input
      required
      labelPlacement="floating"
      [type]="passwordType"
      [(ngModel)]="password"
      label="Mot de passe"
      name="Password"
      fill="outline"
    >
      <ion-button
        color="primary"
        fill="clear"
        slot="end"
        aria-label="Show/hide"
        (click)="changeInputPasswordType()"
      >
        <ion-icon
          slot="icon-only"
          [name]="(passwordType === 'password') ? 'eye-off' : 'eye'"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-input>
    <br />
    <ion-button (click)="login()" expand="block"> Login </ion-button>
  </div>

  <br />
  <h6>
    Vous n'avez pas de compte ? Créez-en un
    <ion-text (click)="signup()">ici</ion-text>
  </h6>
</ion-content>
