<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="game">{{ game.titre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="game">
  <ion-row>
    <ion-col>
      <ion-img
        src="{{ game.img }}"
        alt="Image du jeu : {{game.titre}}"
      ></ion-img>
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center titre-jeu">
    <ion-col> {{game.titre}} </ion-col>
  </ion-row>

  <ion-row class="ion-text-center prix">
    <ion-col> {{game.prix}}€ </ion-col>
  </ion-row>

  <ion-row class="infos ion-margin-vertical">
    <ion-col> Studio de développement : {{game.studio}} </ion-col>
  </ion-row>

  <ion-row class="infos">
    <ion-col>
      Jeu disponible sur :
      <span>{{ game.plateforme.join(', ') }}</span>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-vertical ion-text-center">
    <ion-col>
      <ion-button *ngIf="admin" [routerLink]="['/edit', id]"
        >Gérer le jeu</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
