<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="form">
    <ion-input
      labelPlacement="floating"
      fill="outline"
      label="Email"
      type="email"
      [(ngModel)]="email"
    ></ion-input>
    <br />
    <ion-input
      labelPlacement="floating"
      fill="outline"
      label="Pseudo"
      type="text"
      [(ngModel)]="name"
    ></ion-input>
    <br />
    <ion-input
      labelPlacement="floating"
      fill="outline"
      label="Mot de passe"
      type="password"
      [(ngModel)]="password1"
    ></ion-input>
    <br />
    <ion-input
      labelPlacement="floating"
      fill="outline"
      label="Confirmation du mot de passe"
      type="password"
      [(ngModel)]="password2"
    ></ion-input>
    <br />
    <ion-button (click)="signup()" expand="block">Inscription</ion-button>
  </div>
</ion-content>
