<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter un jeu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item class="ion-margin-horizontal">
      <ion-input
        required
        label="Titre"
        labelPlacement="stacked"
        [(ngModel)]="game.titre"
        placeholder="Enter un titre..."
        type="text"
      >
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-horizontal">
      <ion-input
        required
        label="Studio de développement"
        labelPlacement="stacked"
        [(ngModel)]="game.studio"
        placeholder="Entrez un studio de développement..."
        type="text"
      >
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-horizontal">
      <ion-select
        aria-label="Plateforme"
        placeholder="Plateforme"
        [multiple]="true"
        [(ngModel)]="game.plateforme"
      >
        <ion-select-option value="PS5">PS5</ion-select-option>
        <ion-select-option value="Xbox">Xbox</ion-select-option>
        <ion-select-option value="Steam">Steam</ion-select-option>
        <ion-select-option value="Battle.net">Battle.net</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-margin-horizontal">
      <ion-input
        required
        min="1"
        label="Prix"
        labelPlacement="stacked"
        [(ngModel)]="game.prix"
        placeholder="Entrez un prix..."
        type="number"
      >
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-horizontal">
      <ion-input
        required
        label="Image"
        placeholder="Entrez le lien d'une image..."
        labelPlacement="stacked"
        [(ngModel)]="game.img"
        type="text"
      >
      </ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-text-center ion-margin-vertical">
    <ion-button (click)="add()">Ajouter</ion-button>
  </div>
</ion-content>
