ion-input {
  --color: #ff5400;
  --highlight-color-invalid: #ff5400;
  --highlight-color-valid: #ff5400;
}

ion-item {
  margin-top: 16px;
  --border-color: #ff5400;
}

ion-button {
  --background: #ff5400;
}

ion-select {
  --placeholder-color: #ff5400;
  --placeholder-opacity: 1;
}

